@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: beige;
    color: firebrick;
}

main {
    margin: 10vh 23vw;
    height: 80vh;
    width: 54vw;
    max-width: 700px;
    display: grid;
    grid-template-columns: 25px 1fr 25px 1fr 50px;
    grid-template-rows: 2fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 2fr;
    grid-gap: 1px;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 9.0vw;
    display: block;
    margin: 0.15em 0 0;
    font-weight: bolder;
    justify-self: center;
    align-self: center;
    padding: 0;
    line-height: 0.7;
}

sup {
  font-size: 35%;
  border-bottom: 0.3em solid;
  vertical-align: baseline;
  position: relative;
  top: -1.3em;
  line-height: 0;
}

h1 {
    grid-column: 1/-1;
    grid-row: 3;
    letter-spacing: 8px;
}

h2 {
    grid-column: 1/-1;
    grid-row: 5;
    margin-top: 9px;
}

h3.part1 {
    grid-column: 1/-1;
    grid-row: 7;
    margin-top: 15px;
}

h3.part2 {
    grid-column: 1/-1;
    grid-row: 9;
    margin-top: 15px;
}

.circle {
    width: 50px;
    height: 50px;
}

.rect1 {
    grid-column: 1;
    grid-row: 1;
}

.rect2 {
    grid-column: 3;
    grid-row: 1;
}

.rect3 {
    grid-column: 1/-1;
    grid-row: 2;
}

.rect4 {
    grid-column: 1/-1;
    grid-row: 4;
}

.rect5 {
    grid-column: 1/-1;
    grid-row: 6;
}

.rect6 {
    grid-column: 1/-1;
    grid-row: 8;
}

.rect7 {
    grid-column: 1/-1;
    grid-row: 10;
}

.rect8 {
    grid-column: 3;
    grid-row: 11;
}

.circle1 {
    grid-column: 5;
    grid-row: 1;
    align-self: end;
}

.circle2 {
    grid-column: 5;
    grid-row: 11;
}